.modifyStudentContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modifyStudentFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modifyStudentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.modifyStudentsInputs {
  display: flex;
  flex-direction: column;
}

.modifyStudentChecksContainer {
  margin: 12px 0;
}
