<div class="modifyStudentContainer">
    <h2 appTitleFontSize>Modificar Estudiante</h2>
    <div class="modifyStudentFormContainer">

        <div *ngIf="getStudentFromForm() !== undefined" appNameStudent>Modificar: {{getStudentFromForm().lastName}}
            {{getStudentFromForm().name}} </div>

        <form *ngIf="!modify" [formGroup]="checkStudentForm" class="modifyStudentForm" (ngSubmit)="canModify()">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label for="id">Documento</mat-label>
                    <input matInput type="text" id="id" formControlName="id">

                    <mat-error *ngIf="checkStudentForm.get('id')?.errors?.['required']" selected>Documento es
                        requerido</mat-error>
                    <mat-error *ngIf="checkStudentForm.get('id')?.errors?.['whitespace']" selected>
                        Documento no puede ser vacio</mat-error>
                    <mat-error *ngIf="checkStudentForm.get('id')?.errors?.['minlength']" selected>Documento es
                        menor a 7 numeros</mat-error>
                    <mat-error *ngIf="checkStudentForm.get('id')?.errors?.['maxlength']" selected>Documento es
                        mayor a 15 numeros</mat-error>
                    <mat-error *ngIf="checkStudentForm.get('id')?.errors?.['pattern']" selected>Documento deben ser solo
                        numeros</mat-error>
                    <mat-hint *ngIf="!validStudent">No existe estudiante con ese ID</mat-hint>

                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!checkStudentForm.valid">Modificar</button>
        </form>

        <form *ngIf="modify" [formGroup]="modifyStudentForm" class="modifyStudentForm" (ngSubmit)="updateStudent()">
            <div class="modifyStudentsInputs">
                <mat-form-field appearance="fill">
                    <mat-label for="name">Nombre </mat-label>
                    <input matInput type="text" id="name" formControlName="name" placeholder="Nombre">

                    <mat-error *ngIf="modifyStudentForm.get('name')?.errors?.['required']" selected>Nombre es
                        requerido</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('name')?.errors?.['whitespace']" selected>
                        Nombre no puede ser vacio</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('name')?.errors?.['minlength']" selected>Nombre es
                        menor a 3 caracteres</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('name')?.errors?.['maxlength']" selected>Nombre es
                        mayor a 15 caracteres</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('name')?.errors?.['pattern']" selected>Nombre deben ser
                        solo letras
                    </mat-error>

                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label for="lastName">Apellido</mat-label>
                    <input matInput type="text" id="lastName" formControlName="lastName" placeholder="Apellido">

                    <mat-error *ngIf="modifyStudentForm.get('lastName')?.errors?.['required']" selected>Apellido es
                        requerido</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('lastName')?.errors?.['whitespace']" selected>
                        Apellido no puede ser vacio</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('lastName')?.errors?.['minlength']" selected>Apellido es
                        menor a 3 caracteres</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('lastName')?.errors?.['maxlength']" selected>Apellido es
                        mayor a 15 caracteres</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('lastName')?.errors?.['pattern']" selected>Apellido deben
                        ser
                        solo
                        letras</mat-error>

                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label for="email">Email </mat-label>
                    <input matInput type="email" id="email" formControlName="email" placeholder="Email@example.com">
                    <mat-error *ngIf="modifyStudentForm.get('email')?.errors?.['required']" selected>Email es
                        requerido</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('email')?.errors?.['whitespace']" selected>
                        Email no puede ser vacio</mat-error>
                    <mat-error *ngIf="modifyStudentForm.get('email')?.errors?.['pattern']" selected>Email invalido
                    </mat-error>
                </mat-form-field>
                <section class="modifyStudentChecksContainer" [formGroup]="newFormCourses">
                    <h4>Seleccionar los cursos a inscribir o desuscribir</h4>
                    <p *ngFor="let course of courses">
                        <mat-checkbox *ngIf="course.isAvailable" [formControlName]="course.name ">
                            {{course.name | uppercase}}
                        </mat-checkbox>
                    </p>

                </section>

            </div>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!modifyStudentForm.valid ">Modificar</button>
        </form>

    </div>
</div>