<div class="navbarContainer">

    <div class="navbarIconContainer">
        <mat-icon *ngIf="opened" color="accent" class="sidenavButton" mat-button (click)="sidenav.toggle() ; close() ">
            chevron_left
        </mat-icon>
        <mat-icon *ngIf="!opened" color="accent" class="sidenavButton" mat-button (click)="sidenav.toggle() ; open()">
            chevron_right
        </mat-icon>
    </div>

    <mat-sidenav-container class="sidenav" [ngClass]="opened ? 'show' : 'hide'" (click)="sidenav.close() ; close()">

        <mat-sidenav #sidenav mode="over" (opened)="events.push('open!')" (closed)="events.push('close!');close()"
            class="sidenavContent">
            <mat-divider></mat-divider>

            <p class="sections" (click)="sidenav.close() ; close() ; 
             ">
                <mat-icon color="accent" class="sectionIcon">check_circle_outline</mat-icon> <span class="sectionText">
                    Alta
                    Alumno</span>
            </p>
            <mat-divider></mat-divider>
            <p class="sections" (click)="sidenav.close() ; close() ;">
                <mat-icon color="accent" class="sectionIcon">highlight_off</mat-icon> <span class="sectionText"> Baja
                    Alumno</span>
            </p>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <p class="sections" (click)="sidenav.close() ; close() ;">
                <mat-icon color="accent" class="sectionIcon">create</mat-icon> <span class="sectionText">
                    Modificar
                    Alumno</span>
            </p>
            <mat-divider></mat-divider>
            <p class="sections" (click)="sidenav.close() ; close();">
                <mat-icon color="accent" class="sectionIcon">group</mat-icon> <span class="sectionText"> Lista Alumnos
                </span>
            </p>
            <mat-divider></mat-divider>
            <p class="sections" (click)="sidenav.close() ; close();">
                <mat-icon color="accent" class="sectionIcon">list_alt</mat-icon> <span class="sectionText"> Lista Cursos
                </span>
            </p>
            <mat-divider></mat-divider>

        </mat-sidenav>


    </mat-sidenav-container>

</div>