.courseListModify {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: center;
  z-index: 2;
}

.courseListModifyName {
  width: 40% !important;
  text-align: start;
}

.courseListModifyDelete {
  width: 20%;
  cursor: pointer;
}

.courseListModifyDelete:hover {
  color: #673ab7;
}

.courseListModifyAvailable {
  width: 40%;
  cursor: pointer;
}

.buttonModifyCourseAvailable {
  width: 250px;
}

.selectorsModify {
  padding-bottom: 20px;
}

.selectorsModifyCourses {
  padding-right: 10px;
}
