<div class="modifyCourseContainer">
    <h1 appTitleFontSize>Modificar Cursos</h1>


    <mat-list class="courseListModify" *ngFor="let course of courseList">
        <mat-list-item class="courseListModifyName">{{course.name | uppercase}}</mat-list-item>
        <mat-icon class="courseListModifyDelete" color="accent" (click)="deleteCourse(course.name)">delete
        </mat-icon>
        <button class="buttonModifyCourseAvailable" mat-raised-button color="warn" *ngIf="course.isAvailable"
            (click)="changeAvailability(course.name)">Desabilitar Curso</button>
        <button class="buttonModifyCourseAvailable" mat-raised-button color="primary" *ngIf="!course.isAvailable"
            (click)="changeAvailability(course.name)">Habilitar Curso</button>


        <mat-divider></mat-divider>

    </mat-list>

    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>

    <h1 appTitleFontSize>Agregar Nuevo Cursos</h1>

    <form [formGroup]="createNewCourseForm" (ngSubmit)="addNewCourse()">

        <div>
            <mat-form-field appearance="fill">
                <mat-label for="name">Nombre</mat-label>
                <input matInput type="text" id="name" formControlName="name" placeholder="Nombre">
                <mat-error *ngIf="createNewCourseForm.get('name')?.errors?.['required']" selected>Nombre es
                    requerido</mat-error>
                <mat-error *ngIf="createNewCourseForm.get('name')?.errors?.['whitespace']" selected>Nombre
                    no puede ser vacio</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label for="description">Descripcion</mat-label>
                <input matInput type="text" id="description" formControlName="description" placeholder="Descripcion">
                <mat-error *ngIf="createNewCourseForm.get('description')?.errors?.['required']" selected>Descripcion es
                    requerido</mat-error>
                <mat-error *ngIf="createNewCourseForm.get('description')?.errors?.['whitespace']" selected>
                    Descripcion
                    no puede ser vacio</mat-error>
                <mat-error *ngIf="createNewCourseForm.get('description')?.errors?.['minlength']" selected>Descripcion
                    menor
                    a
                    10
                    caracteres</mat-error>
                <mat-error *ngIf="createNewCourseForm.get('description')?.errors?.['maxlength']" selected>Descripcion
                    mayor
                    a
                    500
                    caracteres</mat-error>

            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label for="imageUrl">Url de Imagen</mat-label>
                <input matInput type="text" id="imageUrl" formControlName="imageUrl">
                <mat-error *ngIf="createNewCourseForm.get('imageUrl')?.errors?.['required']" selected>URL es
                    requerido</mat-error>
                <mat-error *ngIf="createNewCourseForm.get('imageUrl')?.errors?.['whitespace']" selected>
                    URL
                    no puede ser vacio</mat-error>
                <mat-error *ngIf="createNewCourseForm.get('imageUrl')?.errors?.['minlength']" selected>URL menor a 12
                    caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <div class="selectorsModify">
            <mat-radio-group color="primary" id="isAvailable" formControlName="isAvailable"
                aria-label="Select an option">
                <mat-radio-button class="selectorsModifyCourses" [value]="true">Disponible</mat-radio-button>
                <mat-radio-button class="selectorsModifyCourses" [value]="false">No Disponible</mat-radio-button>
            </mat-radio-group>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="!createNewCourseForm.valid">CARGAR</button>
    </form>


</div>