<div class="appContainer">



    <app-toolbar></app-toolbar>
    <app-loading-screen *ngIf="showLoading"></app-loading-screen>


    <app-navbar-lateral [(showCreateStudent)]="showCreateStudent" [(showDeleteStudent)]="showDeleteStudent"
        [(showModifyStudent)]="showModifyStudent" [(showModifyCourses)]="showModifyCourses"
        [(showListStudents)]="showListStudents" [(showListCourses)]="showListCourses" [(showLogin)]="showLogin"
        [(showLoading)]="showLoading">
    </app-navbar-lateral>


    <app-create-student *ngIf="showCreateStudent"></app-create-student>
    <app-login *ngIf="showLogin"></app-login>
    <app-delete-student *ngIf="showDeleteStudent"></app-delete-student>
    <app-modify-student *ngIf="showModifyStudent"></app-modify-student>
    <app-modify-course *ngIf="showModifyCourses"></app-modify-course>
    <app-list-students *ngIf="showListStudents"></app-list-students>
    <app-list-courses *ngIf="showListCourses"></app-list-courses>


</div>