<div class="appContainer">



    <app-toolbar></app-toolbar>

    <app-navbar-lateral [(showCreateStudent)]="showCreateStudent" [(showDeleteStudent)]="showDeleteStudent"
        [(showModifyStudent)]="showModifyStudent" [(showListStudents)]="showListStudents"
        [(showListCourses)]="showListCourses" [(showLogin)]="showLogin"></app-navbar-lateral>
    <app-create-student *ngIf="showCreateStudent">

        <app-login *ngIf="showLogin"></app-login>
    </app-create-student>
    <app-delete-student *ngIf="showDeleteStudent"></app-delete-student>
    <app-modify-student *ngIf="showModifyStudent"></app-modify-student>
    <app-list-students *ngIf="showListStudents"></app-list-students>
    <app-list-courses *ngIf="showListCourses"></app-list-courses>

</div>